<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thread Browser - TeachMeSensei</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "resource_threads" %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">TeachMeSensei</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
					<% if @view == nil %>
						<li class="nav-item">
							<%= form_tag(user_resource_threads_path, method: :get) do %>
								<%= hidden_field_tag :view, "user" %>
								<%= submit_tag 'My Threads', class: 'a nav-link' %>
							<% end %>
	          </li>
	          <li class="nav-item active">
							<a class="nav-link" href="#">All Threads</a>
	          </li>
					<% elsif @view == "user" %>
						<li class="nav-item active">
							<a class="nav-link" href="#">My Threads </a>
						</li>
						<li class="nav-item">
							<%= form_tag(user_resource_threads_path, method: :get) do %>
								<%= submit_tag 'All Threads', class: 'a nav-link' %>
							<% end %>
						</li>
					<% end %>
        </ul>
				<div class="form-inline my-2 my-md-0">
					<div class="text-light small mx-2">Logged in as <strong><%= @current_user.username %></strong>.</div>
					<%= form_tag(:controller => 'sessions', :action => 'logout') do %>
						 <%= submit_tag("Log Out", class: 'btn btn-sm btn-outline-secondary') %>
					<% end %>
				</div>
      </div>
    </nav>

		<!-- Content under navbar -->

    <main role="main" class="container">
			<%= button_to 'Create New Thread', controller: 'resource_threads', action: 'new' %>
      <div class="jumbotron">
				<h1 class="h2">Thread Browser</h1>
				<div class="form-inline">
					<%= form_tag(user_resource_threads_path, method: :get) do %>
					  <%= text_field_tag :keyword %>
					  <%= submit_tag 'Search' %>
					<% end %>
					<%= form_tag(user_resource_threads_path, method: :get) do %> <!-- Loads back all existing Threads -->
					  <%= submit_tag 'Clear Search' %>
					<% end %>
				</div>
				<hr>

				<% if @view == nil %>

					<% if @status == 1 %> <!-- If keyword doesn't match any tag, print No results -->
						<p>No results found.</p>
					<% else %>
						<table class="table">
							<thead>
								<tr>
									<th>Title</th>
									<th>Description</th>
									<th>Owner</th>
									<th>Resources</th>
									<th colspan="3"></th>
								</tr>
							</thead>
							<% @users.each do |user| %>
								<% user.resource_threads.each do |resourcethread| %>
									<% if @status == 0 %> <!-- If keyword is blank/null, show all threads -->
										<tr>
											<td><%= resourcethread.title %></td>
											<td><%= resourcethread.description %></td>
											<td><%= user.username %></td>
											<td><%= resourcethread.resource_count %></td>
											<td><%= button_to 'Open', user_resource_thread_path(user.id, resourcethread.id) %></td>
										</tr>
									<% else %>
										<% if resourcethread.keywords.find_by(text: @keyword.text) %> <!-- If keyword has parameters passed, show matching articles -->
											<tr>
												<td><%= resourcethread.title %></td>
												<td><%= resourcethread.description %></td>
												<td><%= user.username %></td>
												<td><%= resourcethread.resource_count %></td>
												<td><%= button_to 'Open', user_resource_thread_path(user.id, resourcethread.id) %></td>
											</tr>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						</table>
					<% end %>
				<% elsif @view == "user" %>
					<table class="table">
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Resources</th>
							<th colspan="3"></th>
						</tr>
						<% @current_user.resource_threads.each do |resourcethread| %> <!-- List all articles owned by the current user -->
							<tr>
								<td><%= resourcethread.title %></td>
								<td><%= resourcethread.description %></td>
								<td><%= resourcethread.resource_count %></td>
								<td><%= button_to 'Open', user_resource_thread_path(@current_user.id, resourcethread.id) %></td>
							</tr>
						<% end %>
					</table>
				<% end %>
      </div>
    </main>
  </body>
</html>
