Logged in as <%= @current_user.username %>
<%= form_tag(:controller => 'sessions', :action => 'logout') do %>
	 <%= submit_tag("Log Out") %>
<% end %>
<hr>
<%= form_tag(user_resource_threads_path, method: :get) do %>
  <%= text_field_tag :keyword %>
  <%= submit_tag 'Search' %>
<% end %>

<%= form_tag(user_resource_threads_path, method: :get) do %> <!Loads back all existing Threads>
  <%= submit_tag 'Clear Search' %>
<% end %>

<h2>Threads</h2>
<table>
	<tr>
    	<th>Title</th>
    	<th>Description</th>
    	<th>Owner</th>
    	<th colspan="3"></th>
  	</tr>

  	<% if @status == 1 %> <!If keyword doesn't match any tag, print No results>
  		<td>No results found</td>
  	<% else %>
		<% @users.each do |user| %>
			<% user.resource_threads.each do |resourcethread| %>
				<% if @status == 0 %> <!If keyword is blank/null, show all threads>
			  	<tr>
			    	<td><%= resourcethread.title %></td>
			    	<td><%= resourcethread.description %></td>
			    	<td><%= user.username %></td>
			    	<td><%= button_to 'Open', user_resource_thread_path(user.id, resourcethread.id) %></td>
				</tr>

				<% else %>
					<% if resourcethread.keywords.find_by(text: @keyword.text) %> <!If keyword has parameters passed, show matching articles>
					<tr>
					  	<td><%= resourcethread.title %></td>
					   	<td><%= resourcethread.description %></td>
					   	<td><%= user.username %></td>
					   	<td><%= button_to 'Open', user_resource_thread_path(user.id, resourcethread.id) %></td>
					</tr>				
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</table>

<%= button_to 'Create New Thread', controller: 'resource_threads', action: 'new' %>