<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>View Thread - TeachMeSensei</title>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "resource_threads" %>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">TeachMeSensei</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<%= form_tag(user_resource_threads_path, method: :get) do %>
					<%= hidden_field_tag :view, "user" %>
					<%= submit_tag 'My Threads', class: 'no-btn nav-link' %>
					<% end %>
				</li>
				<li class="nav-item">
					<%= form_tag(user_resource_threads_path, method: :get) do %>
					<%= submit_tag 'All Threads', class: 'no-btn nav-link' %>
					<% end %>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">View Thread</a>
				</li>
			</ul>
			<div class="form-inline my-2 my-md-0">
				<div class="text-light small mx-2">Logged in as <strong><%= @current_user.username %></strong>.</div>
				<%= form_tag(:controller => 'sessions', :action => 'logout') do %>
					<%= submit_tag("Log Out", class: 'btn btn-sm btn-outline-secondary') %>
				<% end %>
			</div>
		</div>
	</nav>

	<!-- Content under navbar -->

	<main role="main" class="container">
		<div class="jumbotron">
			<div class="text-left">
				<%= link_to '< Back to index', user_resource_threads_path(@user.id), class: 'btn btn-sm btn-outline-secondary mb-3' %>
			</div>
			<h1 class="h3"><%= @resourcethread.title %></h1>
			<small class="text-muted">Created by <%= @resourcethread.user.username %> | Keywords: <%= @resourcethread.all_keywords %></small>
			<p><%= @resourcethread.description %></p>
			<% if @current_user == @user %> <!-- Show Edit/Delete Thread if user owns the thread -->
				<div class="text-right">
					<div class="btn-group">
						<%= button_to 'Edit', edit_user_resource_thread_path(@user.id, @resourcethread.id), class: 'btn btn-primary' %>
						<%= button_to 'Delete', user_resource_thread_path(@user.id, @resourcethread.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary ml-3' %>
					</div>
				</div>
			<% end %>
			<hr>
			<h2 class="h3">Folders</h2>
			<% @resourcethread.folders.each do |folder| %>
				<div class="card bg-light mb-3">
					<div class="card-header d-flex justify-content-between">
						<h5 class="mb-0 align-self-center"><%= folder.name %></h5>
						<% if @current_user == @user %> <!-- Show Delete Folder if user owns the thread -->
							<%= button_to 'Delete folder', user_resource_thread_folder_path(@user.id, @resourcethread.id, folder), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary ml-3' %>
						<% end %>
					</div>
					<ul class="list-group list-group-flush">
						<% folder.resources.each do |resource| %>
							<li class="list-group-item d-flex justify-content-between">
								<small class="align-self-center"><%= resource.text %></small>
								<% if @current_user == @user %> <!-- Show Remove Folder if user owns the thread -->
									<%= form_with( controller: "resource_threads", action: "index", local: true) do |form| %>
										<%= hidden_field_tag :f_id, folder.id %> <!-- Pass the folder id to f_id -->
										<%= hidden_field_tag :r_id, resource.id %> <!-- Pass the resource id to r_id -->
										<%= hidden_field_tag :type, "delete" %>
										<%= form.submit 'Remove', class: 'btn btn-sm btn-outline-secondary ml-3' %>
									<% end %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<% if @current_user == @user %> <!-- Show Create Folder if user owns the thread -->
					<%= form_for [@user, @resourcethread, @resourcethread.folders.build] do |form| %>
						<div class="d-flex justify-content-between">
							<%= form.text_field :name, placeholder: 'Enter folder name', class: 'form-control' %>
							<%= form.submit '+ New folder', class: 'btn btn-primary ml-3' %>
						</div>
					<% end %>
			<% end %>
			<hr>
			<h2 class="h3">
				<%= @resourcethread.resource_count %> <!-- For grammar correction -->
				<% if @resourcethread.resource_count == 1%>
					Resource:
				<% else %>
					Resources:
				<% end %>
			</h2>
			<% @resourcethread.resources.each do |resource| %>
				<div class="card bg-transparent border-secondary mb-3">
					<div class="card-body">
						<small class="text-muted">Created on <%= resource.created_at %></small>
						<div class="d-flex justify-content-between">
							<small><p><%= resource.text %></p></small>
							<% if resource.trust > 75 %>
								<div class="text-success mx-3 text-right">
							<% elsif resource.trust > 50 %>
								<div class="text-warning mx-3 text-right">
							<% else %>
								<div class="text-danger mx-3 text-right">
							<% end %>
							<small>Trust:</small><br><strong><%= resource.trust %>%</strong></div>
						</div>
						<div class="form-inline">
							<em><small class="text-secondary">Did you find this resource helpful?</small></em>
							<%= form_with( controller: "resource_threads", action: "index", local: true) do |form| %> <!-- Vote drop down list -->
								<%= form.select :v_type, [['Yes','up'],['No','down'],['Remove Vote','none']], {}, {class: 'form-control form-control-sm ml-3'} %>
								<%= hidden_field_tag :r_id, resource.id %> <!-- Pass the resource id to r_id -->
								<%= form.submit 'Enter', class: 'btn btn-sm btn-outline-secondary' %>
							<% end %>
						</div>
						<% if @current_user == @user %> <!-- Show Add to Folder if user owns the thread -->
							<div class="d-flex justify-content-between align-items-end mt-2">
								<%= form_with( controller: "resource_threads", action: "index", local: true) do |form| %>
									<!-- For the drop down list -->
									<div class="form-inline">
										<%= form.collection_select :f_id, @resourcethread.folders.all, :id, :name, {:prompt=>true}, {:class=>'form-control form-control-sm' } %> <!-- Passes id of the selected folder to f_id -->
										<%= hidden_field_tag :r_id, resource.id %> <!-- Pass the resource id to r_id -->
										<%= hidden_field_tag :type, "add" %>
										<%= form.submit 'Add to folder', class: 'btn btn-sm btn-outline-secondary ml-1' %>
									</div>
								<% end %>
								<%= button_to 'Delete resource', user_resource_thread_resource_path(@user.id, @resourcethread.id, resource), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary' %>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>

			<%= form_for [@user, @resourcethread, @resourcethread.resources.build] do |form| %>
				<div class="d-flex justify-content-between">
					<%= form.text_area :text, placeholder: 'Enter resource', class: 'form-control' %>
					<%= form.submit '+ New resource', class: 'btn btn-primary ml-3' %>
				</div>
			<% end %>
		</div>
	</main>
</body>
</html>
