Logged in as <%= @current_user.username %>
<%= form_tag(:controller => 'sessions', :action => 'logout') do %>
	 <%= submit_tag("Log Out") %>
<% end %>

<p>
	<strong>Title:</strong>
	<%= @resourcethread.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @resourcethread.description %>
</p>

<p>
	<strong>Owner:</strong>
	<%= @resourcethread.user.username %>
</p>

<p>
	<strong>Keywords:</strong>
	<%= @resourcethread.all_keywords %>
</p>

<% if @current_user == @user %> <!Show Edit/Delete Thread if user owns the thread>
	<p>
	<%= button_to 'Edit', edit_user_resource_thread_path(@user.id, @resourcethread.id) %>
	</p>
	<p>
	<%= button_to 'Delete', user_resource_thread_path(@user.id, @resourcethread.id),
	              method: :delete,
	              data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
<hr>
	<h2>Folders:</h2>
	<hr>
	<% @resourcethread.folders.each do |folder| %>
	<p>
		<strong><%= folder.name %></strong>
		<% if @current_user == @user %> <!Show Delete Folder if user owns the thread>
			<%= button_to 'Delete', user_resource_thread_folder_path(@user.id, @resourcethread.id, folder),
			method: :delete,
			data: { confirm: 'Are you sure?' } %>
		<% end %>

	</p>
		<% folder.resources.each do |resource| %>
		<p>
			<strong>Link:</strong>
			<%= resource.text %><br>
			Created on:
			<%= resource.created_at %>
			<% if @current_user == @user %> <!Show Remove Folder if user owns the thread>
				<%= form_with( controller: "resource_threads", action: "index", local: true) do |form| %>
					<%= hidden_field_tag :f_id, folder.id %> <!Pass the folder id to f_id>
					<%= hidden_field_tag :r_id, resource.id %> <!Pass the resource id to r_id>
					<%= hidden_field_tag :type, "delete" %>
					<%= form.submit 'Remove from folder' %>
				<% end %>
			<% end %>
		</p>
		<% end %>
		<hr>
	<% end %>

<% if @current_user == @user %> <!Show Create Folder if user owns the thread>
	<p>
		<strong>Add a folder:</strong>
		<%= form_for [@user, @resourcethread, @resourcethread.folders.build] do |form| %>
		<p>
			<%= form.text_field :name %>
		</p>
		<p>
			<%= form.submit %>
		</p>
		<% end %>
	</p>
<% end %>

<h2> 
	<%= @resourcethread.resource_count %> <!For grammar correction>
	<% if @resourcethread.resource_count == 1%>
	Reply:
	<% else %>
	Replies:
	<% end %>
	</h2>
<hr>
<% @resourcethread.resources.each do |resource| %>
	  <p>
	    <strong>Resource:</strong>
	    <%= resource.text %><br>
	    Created on:
	    <%= resource.created_at %><br>
	    Trust:
	    <%= resource.trust %><br>
	    Did you find this resource helpful?

	    <%= form_with( controller: "resource_threads", action: "index", local: true) do |form| %> <!Vote drop down list>
	    	<%= form.select :v_type, [['Yes','up'],['No','down'],['Remove Vote','none']] %>
	    	<%= hidden_field_tag :r_id, resource.id %> <!Pass the resource id to r_id>
	    	<%= form.submit 'Submit' %>
	    <% end %>
	    <br>
	    <% if @current_user == @user %> <!Show Add to Folder if user owns the thread>
		    <%= form_with( controller: "resource_threads", action: "index", local: true) do |form| %>
		    	<!For the drop down list>
		    	<%= form.collection_select :f_id, @resourcethread.folders.all, :id, :name %> <!Passes id of the selected folder to f_id>
		    	<%= hidden_field_tag :r_id, resource.id %> <!Pass the resource id to r_id>
		    	<%= hidden_field_tag :type, "add" %>
		    	<%= form.submit 'Add to folder' %>
		    <% end %>
	    <% end %>
	    <%= button_to 'Delete', user_resource_thread_resource_path(@user.id, @resourcethread.id, resource),
		              method: :delete,
		              data: { confirm: 'Are you sure?' } %>
	  </p>
	  <hr>
<% end %>

<p>
	<strong>Add a resource:</strong>
	<%= form_for [@user, @resourcethread, @resourcethread.resources.build] do |form| %>
	<p>
		<%= form.text_area :text %>
	</p>
	<p>
		<%= form.submit %>
	</p>
	<% end %>
</p>
<%= link_to 'Back to thread index', user_resource_threads_path(@user.id) %>