<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/assets/tms_logo.ico">
    <title>Join Now - TeachMeSensei</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "users" %>
  </head>

  <body class="text-center">
    <%= form_with scope: :user, url: users_path, local: true, class: 'form-signin' do |form| %>
      <img class="m-3" src="/assets/tms_logo.png" style="width:40%">
      <h1 class="h3 mb-3 font-weight-normal">TeachMeSensei</h1>
      <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </div>
      <% end %>
      <%= label_tag :username, nil, class: 'sr-only' %>
      <%= form.text_field :username, type: 'username', class: 'form-control', placeholder: 'Username', required: true, autofocus: true %>
      <%= label_tag :password, nil, class: 'sr-only' %>
      <%= form.password_field :password, type: 'password', class: 'form-control middle-box-style', placeholder: 'Password', required: true %>
      <%= label_tag :password_confirmation, nil, class: 'sr-only' %>
      <%= form.password_field :password_confirmation, type: 'password', class: 'form-control bottom-box-style', placeholder: 'Confirm Password', required: true %>
      <%= form.submit 'Sign up', class: 'btn btn-lg btn-primary btn-block' %>
      <p class="mt-5 mb-3 text-muted"><%= link_to '< Back to homepage', home_index_path, class: 'text-muted' %></p>
    <% end %>
  </body>
</html>
